PORT=5000
MONGO_URI=mongodb://localhost:27017/appdb
JWT_SECRET=supersecretjwtkey_change_me_in_prod
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=username
EMAIL_PASS=password

# Configuration IA Multimodale / OCR Hybride (Llama 3.2 Vision & EasyOCR)
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=llama3.2-vision
